*.h5
pretrainedweights.tar.gz
*~
*.npy
*.pyc
images/
results/*
!/results/donotdelete.txt
conversion/
/conversion
!/conversion/.dockerignore
!/conversion/Dockerfile
!/conversion/README.md
/images
/.idea/
.ipynb_checkpoints
.idea/
